@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --heading: "Montserrat", sans-serif;
  --normal: "Poppins", sans-serif;
  --space: 0.25em;

  --primary: 14, 23, 50;
  --clr1: hsl(230.45deg 71.74% 63.92%);
  --clr2: hsl(230, 66%, 69%);
  --clr1Hover: hsl(36.32deg 37.25% 80%);

  --white: #fff;
  --whitsmoke: rgb(239, 239, 239);
  --offGrey: 238, 239, 248;
  --blk: black;
  --range: rgb(231, 231, 231);

  /* animation & transitions */
  --ease: cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms all;
  --appear: appear 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes appear {
  100% {
    top: 0;
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: hsl(220deg 50% 97.65%);
}

nav {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5em;
  background: rgb(var(--primary));
  padding-inline: calc(var(--space) * 3);
}
#InfoIcon:hover path {
  fill: rgb(255, 255, 128) !important;
}
.alert:hover .bellIcon path:first-child,
.bellIcon:hover path:first-child {
  transform-origin: center;
  animation: belling linear 1s infinite;
}
.alert:hover .bellIcon path:last-child,
.bellIcon:hover path:last-child {
  transform-origin: center;
  animation: belling linear 1s 250ms infinite;
}
@keyframes belling {
  0%,
  100% {
    transform: translate(0%, 0%) rotate(-0deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(10deg);
  }
  80% {
    transform: translate(0%, 0%) rotate(-20deg);
  }
}
nav ul li {
  display: inline-block;
  height: 35px;
  aspect-ratio: 1;
  margin-inline: calc(var(--space) * 2);
}
li img,
li svg {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275) background;
}
li svg:hover {
  background: rgb(var(--offGrey), 0.25);
}
li svg {
  padding: var(--space);
}
li img {
  outline: 2px solid rgb(var(--offGrey), 0.25);
  transition: 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275) outline-offset;
}
li img:hover {
  outline-offset: 2px;
}

header {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: calc(var(--space) * 3);
  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
}
header ul {
  height: 100%;
  width: 100%;
}
header ul li {
  display: inline-block;
  margin-inline: calc(var(--space) * 1.5);
  line-height: 2.5;
  position: relative;
}
header ul li.active::before {
  background-color: rgb(var(--primary));
}
header ul li::before {
  position: absolute;
  bottom: 5%;
  left: 3%;
  height: 5px;
  width: 90%;
  content: "";
  border-radius: var(--space);
}
header ul li a {
  text-decoration: none;
  font-family: var(--normal);
  font-size: 14px;
  color: var(--blk);
}
header ul:last-of-type {
  text-align: right;
}
header ul li p {
  font-family: var(--normal);
  font-size: 14px;
  color: var(--blk);
  margin-top: 4%;
  cursor: pointer;
}

.grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: var(--space);
  padding-inline: calc(var(--space) * 3);
}
.grid .col {
  height: 100%;
  width: 100%;
  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
}
.flexy {
  height: fit-content;
  width: 100%;
  overflow: hidden;
  margin-block: var(--space);
}
.flexy > div {
  margin: var(--space);
}
.sub-flex {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--space);
  height: fit-content;
  width: 99%;
}
.sub-flex > div {
  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
}
.box-users {
  border-radius: calc(var(--space) * 2);
  height: 200px;
  max-width: 300px;
  background: rgb(var(--primary));
  width: 100%;
  color: var(--white);
  padding: calc(var(--space) * 6);

  animation-delay: 50ms;
}
.box-graph {
  border-radius: calc(var(--space) * 2);
  width: 100%;
  height: 200px;
  background-color: var(--white);
  padding: calc(var(--space) * 2);
  position: relative;
  z-index: 1;
}
.box-graph #myChart {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: -1;
}
.box-graph > p {
  font-family: var(--normal);
  font-size: 18px;
  width: 30%;
}
.box-graph .with_chev {
  color: var(--blk);
  margin-top: 5.5em;
}
.box-graph .with_chev img {
  filter: invert(0);
}
.box-sm {
  border-radius: calc(var(--space) * 2);
  padding: calc(var(--space) * 2);
  height: 130px;
  flex: 1;
  flex-shrink: 0;
  background: var(--white);
  cursor: pointer;
  transition: 250ms ease filter;
  animation-delay: 100ms;
}
.box-sm:hover {
  box-shadow: rgb(var(--primary), 0.12) 0px -1px 20px 0px;
  filter: brightness(90%);
}

.box-sm .head.sub-flex {
  font-family: var(--normal);
}
.box-sm .head.sub-flex p {
  font-size: 14px;
}
.box-sm > h1 {
  font-family: var(--heading);
  margin-top: 1em;
}
.box-sm .head.sub-flex span {
  font-size: 12px;
  color: hsl(155, 100%, 59%);
  font-weight: 550;
}
.box-sm .head.sub-flex span.down {
  font-size: 12px;
  color: hsl(0, 100%, 66%);
}
.box-users p {
  font-family: var(--normal);
  font-size: 18px;
}
.box-users h1 {
  font-family: var(--heading);
  margin-bottom: 1.5em;
}
.with_chev {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space);
  height: 3em;
  font-family: var(--normal);
  color: var(--white);
  border: 0;
  outline: 0;
  border-radius: calc(var(--space) * 50);
  padding: var(--space);
  background-color: transparent;
  cursor: pointer;
}
.with_chev:hover p {
  text-decoration: underline;
}
.with_chev p {
  font-size: 12px;
}
.with_chev img {
  height: 100%;
  width: 25px;
  padding: var(--space);
  filter: invert(1);
}

/* ==== */

.alert {
  height: 6.5em;
  width: 100%;
  border: 2px solid rgb(var(--offGrey), 0.5);
  margin-block: var(--space);
  border-radius: calc(var(--space) * 2);
  display: flex;
  align-content: center;
  justify-content: center;
  gap: var(--space);
  padding: calc(var(--space) * 2);
  background: var(--white);
}
.alert svg {
  mix-blend-mode: difference;
  height: 4em;
  aspect-ratio: 1;
  align-self: center;
  padding: calc(var(--space) * 3);
}
.alert .detail {
  flex: 1;
  font-family: var(--heading);
  align-self: center;
}
.detail h4 {
  font-size: 1.4em;
  margin-bottom: var(--space);
}
.detail p {
  font-family: var(--normal);
  font-size: 14px;
}

.alert button {
  width: 120px;
  height: 3em;
  cursor: pointer;
  align-self: center;
  border-radius: inherit;
  background: rgb(var(--primary));
  border: 0;
  outline: 0;
  color: var(--white);
  font-family: var(--heading);
}
.alert button:hover {
  color: var(--clr1);
}

.sideByside {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space);
  height: 300px;
  width: 100%;
}
.sideByside > div {
  background: var(--white);
  height: fit-content;
  width: 100%;
  border-radius: calc(var(--space) * 2);
  padding: calc(var(--space) * 6);
}
.sideByside .box:first-child .head.sub-flex {
  font-family: var(--heading);
  font-weight: 550;
  margin-bottom: var(--space);
}
.sideByside .box:first-child .navigation {
  background-color: rgb(var(--offGrey), 0.5);
  padding: var(--space);
  border-radius: var(--space);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space);
  list-style: none;
}
.sideByside .box:first-child .navigation li:hover {
  filter: invert(0.5);
  cursor: pointer;
}
.sideByside .box:first-child .navigation li.active {
  filter: unset;
  cursor: unset;
  background-color: var(--white);
  font-weight: 550;
}
.sideByside .box:first-child .navigation li {
  text-align: center;
  height: 2.5em;
  line-height: 2.5;

  font-family: var(--normal);
  font-size: 14px;
  border-radius: var(--space);
}
.sideByside .box:first-child .stats {
  height: fit-content;
  width: 100%;
  list-style: none;
  margin-top: calc(var(--space) * 4);
}
.sideByside .box:first-child .stats li {
  margin-block: var(--space);
}
.sideByside .box:first-child .stats li p {
  font-family: var(--normal);
  font-size: 14px;
}
.sideByside .box:first-child .stats li .bar {
  width: 10%;
  background-color: rgb(var(--primary));
  height: 10px;
  margin-top: 0.5em;
}
.sideByside .box:last-child .head.sub-flex p {
  font-family: var(--heading);
  font-weight: 550;
  font-size: 16px;
  margin-bottom: var(--space);
}
.sideByside .box:last-child .head.sub-flex img {
  height: 25px;
  aspect-ratio: 1;
  border-radius: var(--space);
  object-fit: contain;
  background-color: rgb(var(--offGrey), 0.25);
  padding: var(--space);
}
.sideByside .box:last-child .statesLists {
  margin-top: 0.5em;
}
.sideByside .box:last-child .statesList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: var(--space);
  border-radius: var(--space);
  font-family: var(--normal);
  height: 2.05em;
  width: 100%;
  padding: var(--space);
  cursor: pointer;
}
.sideByside .box:last-child .statesList:hover {
  filter: invert(0.5);
}
.sideByside .box:last-child .statesList.active {
  cursor: unset;
  filter: unset;
  background: rgb(var(--offGrey), 0.5);
}
/* === */
.side-right {
  padding: var(--space);
  border-radius: calc(var(--space) * 2);
  background: var(--white);
}
.head.sub-flex {
  justify-content: space-between;
  height: 2em;
  width: 100%;
}
.head.sub-flex h2 {
  font-family: var(--heading);
  font-size: 20px;
}
.head.sub-flex p {
  font-family: var(--normal);
  font-size: 14px;
}
.side-right ul {
  margin-top: var(--space);
  height: 450px;
  overflow-y: scroll;
  width: 100%;
}
.side-right ul::-webkit-scrollbar {
  width: 1px;
  background-color: transparent;
}
.side-right ul::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: rgb(var(--primary));
}
.side-right ul li {
  height: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space);
  cursor: pointer;
  border-radius: calc(var(--space) * 2);
}
.side-right ul li:hover {
  background: rgb(var(--offGrey), 0.5);
}
.side-right ul li a {
  font-family: var(--normal);
  font-size: 14px;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: fit-content;
  color: var(--blk);
}

.side-right ul li .count {
  height: 25px;
  border-radius: calc(var(--space) * 2);
  aspect-ratio: 1;
  color: var(--blk);
  text-align: center;
  font-family: var(--heading);
  font-size: 14px;
  line-height: 1.8;
}
.moreStates {
  height: 300px;
  width: 100%;
  background: linear-gradient(-80deg, var(--clr1), var(--clr2));
  border-radius: calc(var(--space) * 2);
  padding: 1.5em;
}
.moreStates .head.sub-flex {
  margin-bottom: calc(var(--space) * 2);
  color: var(--white);
}
.moreStates .head.sub-flex img {
  height: 25px;
  aspect-ratio: 1;
  background-color: rgb(var(--offGrey), 0.25);
  padding: var(--space);
  filter: invert(1);
  object-fit: contain;
  border-radius: calc(var(--space) * 2);
  cursor: pointer;
}
.moreStates > div:not(div:first-of-type) {
  color: var(--white);
  font-family: var(--normal);
  margin-block: var(--space);
}
.moreStates > div:not(div:first-of-type, div:nth-child(3)) {
  margin-bottom: 2em;
}
.moreStates > div:not(div:first-of-type) p {
  font-size: 14px;
}
.moreStates > div:not(div:first-of-type) h2 {
  font-size: 22px;
}

@media (max-width: 895px) {
  header ul:first-child {
    display: none;
  }

  .sub-flex {
    flex-wrap: wrap;
  }
  .alert {
    flex-wrap: wrap;
  }

  .sub-flex:last-child > .box-sm {
    width: 200px !important;
  }
}
@media (max-width: 500px) {
  .sub-flex:last-child::-webkit-scrollbar {
    height: 5px;
    background-color: transparent;
  }
  .sub-flex:last-child::-webkit-scrollbar-thumb {
    height: 100%;
    background-color: rgb(var(--primary));
  }
  .sub-flex:last-child {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow-x: scroll;
  }
}
@media (max-width: 763px) {
  .box-users {
    max-width: 100%;
  }

  .grid {
    grid-template-columns: 1fr;
    height: fit-content;
    width: 100%;
    padding: 0em;
  }
  .col {
    padding: 0;
    height: fit-content;
    width: 100%;
    overflow: hidden;
  }
  .alert {
    height: fit-content;
    flex-direction: column;
    text-align: center;
  }
  .flexy > div {
    margin: unset;
  }
  .alert button {
    width: 100%;
  }
  .sideByside {
    grid-template-columns: 1fr;
    height: fit-content;
  }
  .box-graph {
    height: fit-content;
  }
  .box-graph > p {
    width: 100%;
  }
  .box-graph #myChart {
    position: unset;
    left: unset;
    margin: 20px;
    width: 90% !important;
    height: 100px !important;
  }
  .box-graph .with_chev {
    margin-top: 1em;
  }
  .head.sub-flex {
    width: 90%;
    margin-inline: auto;
  }
  .head.sub-flex p {
    font-size: 12px;
  }
  .sideByside .box {
    padding: var(--space);
  }
  .moreStates {
    padding: var(--space);
  }
  .moreStates > div:not(div:first-of-type) {
    padding-left: calc(var(--space) * 4);
  }
  .sideByside .box:first-child .navigation li {
    width: 100%;
  }
}
