@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --phoneWidth: 270.61417323px;
  --phoneHeight: 557px;
  --heading: "Montserrat", sans-serif;
  --normal: "Roboto", sans-serif;
  --primaryColor: #bbb3d7;
  --barcolor: #4b4b4b;
  --white: #f2f2f2;
  --space: 0.5em;
  --appear: appear 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@keyframes appear {
  100% {
    top: 0;
    opacity: 1;
  }
}

/* ================ */
.my_profile {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: black;
  height: 50px;
  width: 50px;
  opacity: 0.5;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  transition: 250ms ease all;
}
.my_profile:hover {
  width: fit-content;
  opacity: 1;
}
.my_profile:hover img {
  scale: 0.7;
}
.my_profile:hover p {
  display: block;
}
.my_profile > p {
  display: none;
  margin-right: 0.5em;
  font-size: 10px;
  white-space: var(--normal);
  font-family: var(--normal);
  color: #fff;
}
.my_profile > p a {
  color: lavender;
}
.my_profile img {
  height: 50px;
  border-radius: 1em;
  aspect-ratio: 1;
  transition: 250ms ease scale;
}
/* ================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: var(--primaryColor);
  display: grid;
  place-items: center;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
}

.iland {
  position: absolute;
  height: 20px;
  width: 80px;
  top: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  border-radius: 5em;
  z-index: 500;
}

.iland::before {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #1d2127;
  position: absolute;
  top: 5px;
  right: 5px;
  content: "";
  z-index: 500;
}

.upbar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(29, 29, 29);
  color: white;
  height: 30px;
  width: 100%;
  z-index: 499;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.45em;
}

.left,
.right {
  height: 100%;
  width: 100%;
}

.left p {
  font-family: var(--heading);
  line-height: 3;
  font-size: 12px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.01em;
}

.right .upper-icon {
  height: 100%;
  width: 20px;
  filter: invert(1);
}

.battery {
  align-self: flex-end;
  height: 80% !important;
}

.Phone-container {
  height: var(--phoneHeight);
  width: var(--phoneWidth);
  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
  border-radius: 2em;
  border: 8px solid black;
  overflow: hidden;
  background: black;
}
.time-form {
  background-color: black;
  height: calc(100% - 75px);
  width: 100%;
  text-align: center;
  color: var(--white);
  transform: translateY(30px);

  transition: 250ms opacity ease,
    250ms scale cubic-bezier(0.175, 0.885, 0.32, 1.275),
    250ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275) transform;
}
.form-group {
  margin-block: var(--space);
  width: 90%;
  height: fit-content;
  margin: var(--space) auto;
  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
  animation-delay: 100ms;
}
.form-group:first-child {
  padding-top: 90px;
  animation-delay: 50ms;
}

.form-group label {
  display: block;
  font-family: var(--heading);
  font-size: 12px;
  text-align: left;
  line-height: 1.4;
  padding-left: var(--space);
  color: var(--barcolor);
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1.4px solid var(--barcolor);
  border-radius: var(--space);
  font-family: var(--normal);
  outline: 0;
}
.form-group input:focus-within {
  outline: 1.4px solid var(--primaryColor);
}

.form-group button {
  width: 100%;
  height: 3em;
  font-size: 16px;
  background-color: var(--primaryColor);
  color: #000;
  border-radius: 5px;
  font-family: var(--normal);
  border-radius: var(--space);
  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
  animation-delay: 150ms;
  overflow: hidden;
  transition: 250ms letter-spacing cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.form-group button::before,
#stop::before {
  position: absolute;
  content: "";
  top: 0;
  left: -5%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.491),
    transparent
  );
  height: 100%;
  width: 10px;
}

.form-group button:hover::before,
#stop:hover::before {
  transition: 250ms ease left;
  left: 100%;
  width: 20%;
}
.form-group button:hover {
  letter-spacing: 1px;
}
.error-msg {
  color: crimson;
  font-family: var(--normal);
  font-size: 8px;
  text-align: left;
  padding-left: 1em;
  width: 90%;
  margin: auto;
  opacity: 0;
  transition: opacity 250m ease;
}

.time-container {
  height: calc(100% - 72px);
  width: 100%;
  text-align: center;
  background-color: black;
  color: var(--white);
  transition: 250ms transform cubic-bezier(0.175, 0.885, 0.32, 1);
}
.header {
  position: relative;
  top: 30px;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header button {
  height: 30px;
  aspect-ratio: 1;
  border-radius: 0.5em;
  background-color: transparent;
}
.header button svg {
  height: 100%;
  width: 100%;
  filter: invert(1);
}

#backarrow {
  rotate: -90deg;
  visibility: hidden;
}
@keyframes belling {
  0%,
  100% {
    transform: translate(0%, 0%) rotate(-0deg);
  }

  50% {
    transform: translate(0%, 0%) rotate(10deg);
  }

  80% {
    transform: translate(0%, 0%) rotate(-20deg);
  }
}
.bell-popup {
  position: absolute;
  /* top: 70px; */
  top: -60px;
  transition: 250ms all ease;
  opacity: 0;
  z-index: 1;
  width: 90%;
  left: 5%;
  border-radius: var(--space);
  border: 1.4px solid var(--barcolor);
  background-color: #1d2127;
  height: 70px;
}
.bell-popup h1 {
  font-family: var(--heading);
  color: var(--white);
  font-size: 1em;
  text-align: center;
  padding-top: 0.5em;
}

.activeBell path:first-child {
  transform-origin: center;
  animation: belling linear 1s infinite;
}
.activeBell path:last-child {
  transform-origin: center;
  animation: belling linear 1s 250ms infinite;
}
.header h3 {
  font-family: var(--heading);
  font-size: 0.89em;
  color: var(--white);
}

.time-remain {
  font-size: 1.9em;
  font-weight: 550;
  font-family: var(--heading);
  margin-top: calc(var(--space) * 5);
}
.tagline {
  margin-block: var(--space);
  font-family: var(--normal);
  font-size: 13px;
  color: var(--barcolor);
}
.main-time {
  margin-top: calc(var(--space) * 2.5);
  font-family: var(--normal);
  font-size: 13px;
  font-weight: 550;
  color: rgb(150, 150, 150);
}

#stop {
  height: 3em;
  width: 160px;
  font-family: var(--normal);
  border-radius: var(--space);
  margin-block: var(--space);
  background: var(--primaryColor);
  position: relative;
  overflow: hidden;
  transition: 250ms letter-spacing cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#stop:hover {
  letter-spacing: 1px;
}

.shceduale-remain {
  margin: auto;
  height: 220px;
  width: 90%;
  margin-top: calc(var(--space) * 2.5);
}
th {
  font-family: var(--heading);
  font-size: 10px;
  font-weight: normal;
  line-height: 2;
  text-align: center;
  background: var(--primaryColor);
  color: var(--barcolor);
}
tbody {
  height: calc(100% - 30px);
  width: 100%;
}
tr {
  height: 20px !important;
  font-family: var(--normal);
  font-size: 10px;
}
tr:nth-child(odd) {
  background-color: #1d2127;
}
tr:nth-child(even) {
  background-color: #4d5663;
}
