@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bodyColor: hsl(249.47deg 17.43% 21.37%);
  --offLight: rgba(99, 99, 99, 0.768);
  --light: hsl(0deg 0% 100%);
  --dark: hsl(254.44deg 50.94% 20.78%);
  --secondry: hsl(250.59deg 80.95% 95.88%);
  --font: "Poppins", sans-serif;

  --padding: calc(var(--space) * 3);
  --borderColor: hsl(250, 19%, 26%);
  --border: 1.4px solid var(--borderColor);
  --radius: 0.5em;
  --space: 0.25em;

  --appear: appear 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;

  /* === */
  --clr2: hsl(249.47deg 20% 18.63%);
  --clr3: hsl(23.03deg 100% 58.63%);
  --clr4: hsl(24.71deg 100% 63.33%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--bodyColor);
  height: 100vh;
  display: grid;
  place-items: center;
}
.container {
  --navHeight: 60px;
  height: 450px;
  max-width: 600px;
  width: 100%;
  background: var(--clr2);
  border-radius: var(--radius);
  overflow: hidden;
  position: relative;
}
.persons {
  height: calc(100% - var(--navHeight));
  width: 100%;
  background-color: var(--clr2);
  position: absolute;
  bottom: 0;
  gap: var(--space);
  padding: var(--padding);
  right: -100%;
  transition: 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275) right;
  z-index: 10;
  overflow-y: scroll;
}
.persons::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.persons::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: var(--clr3);
}
.wrapper {
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: var(--space);
  flex-wrap: wrap;
}
.p-card {
  height: 150px;
  width: 100%;
  border: var(--border);
  border-radius: var(--radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--space);
}
.p-card img {
  border-radius: 50em;
  height: 100px;
  aspect-ratio: 1;
  object-fit: cover;
}
.p-card p {
  color: var(--light);
}
nav {
  height: var(--navHeight);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
  padding-inline: var(--padding);
}

.settings {
  height: 40px;
  aspect-ratio: 1;
  cursor: pointer;
  border-radius: var(--radius);
  padding: var(--space);
}
.settings svg path {
  fill: var(--clr3);
}

nav .person {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--space);
}
.person img {
  height: 100%;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.person h2 {
  font-size: 20px;
  line-height: 1;
  color: var(--clr3);
}
.person p {
  font-size: 11px;
  line-height: 1;
  color: var(--offLight);
}
.chat-area {
  height: calc(100% - var(--navHeight));
  width: 100%;
  padding: var(--padding);
  position: relative;
  overflow: hidden;
}
.no-page-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--borderColor);
  font-size: 16px;
  text-align: center;
  z-index: 1;
  pointer-events: none;
  user-select: none;
}
.no-page-text p {
  font-size: 20px;
}
.chat-area .wrapper {
  height: calc(100% - 3.25em);
  margin-bottom: var(--space);
  display: block;
  overflow-y: scroll;
}
.chat-area .wrapper::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.chat-area .wrapper::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: var(--clr3);
}
.op-side {
  height: fit-content;
  width: 100%;
  margin-block: var(--space);
  display: flex;
  align-items: start;
  justify-content: start;
  gap: var(--space);
  padding: var(--space);
}
.op-side img,
.our-side img {
  height: 40px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50em;
}
.opFlex {
  flex-direction: row !important;
  justify-content: start !important;
  width: 100%;
}
.msg {
  background: hsl(250, 19%, 26%);
  font-size: 12px;
  max-width: 300px;
  color: var(--light);
  padding: var(--padding);
  border-radius: 1em;
}
.our-side {
  height: fit-content;
  width: 100%;
  margin-block: var(--space);
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: column;
  gap: var(--space);
  padding: var(--space);
}
.our-side > div {
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: row-reverse;
  gap: var(--space);
  padding: var(--space);
}
.input-box {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space);
  width: 100%;
}
#msgInput:focus-within,
.input-box button:focus-within {
  outline: 1.4px solid var(--clr3);
  outline-offset: 2px;
}
#msgInput {
  height: 100%;
  flex: 1;
  border-radius: 1em;
  border: 0;
  outline: 0;
  background: var(--borderColor);
  padding-left: var(--padding);
  color: var(--light);
  transition: 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275) outline-offset;
}
#msgInput::placeholder {
  color: var(--bodyColor);
}
#sendBtn.disable {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.input-box button {
  height: 100%;
  width: 60px;
  border-radius: 1em;
  background: var(--borderColor);
  color: var(--clr3);
  border: 0;
  cursor: pointer;
  outline: 0;
  transition: 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275) outline-offset;
}

.terms {
  background: linear-gradient(
    transparent 100px,
    hsl(243.16deg 14.29% 26.08%) 80%
  );
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  height: fit-content;
  height: 100%;
  padding: var(--padding);
  color: var(--light);
  font-size: 13px;
}
.terms p > a {
  color: var(--clr3);
}
.terms button {
  height: 2.5em;
  width: 120px;
  border: 1.4px solid var(--clr3);
  border-radius: 50em;
  background-color: transparent;
  color: var(--clr3);
  cursor: pointer;
  margin-block: var(--padding);
  transition: 250ms background ease, 250ms color ease, 250ms border ease;
}
.terms button:hover {
  background: var(--bodyColor);
  color: var(--light);
  border: var(--border);
}
