@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --heading: "Montserrat", sans-serif;
  --space: 0.25em;

  --primary: hsl(238.6deg 84.31% 70%);
  --secondry: hsl(238.6deg 84.31% 70%);
  --defaultRadius: 0.5em;

  /* animation & transitions */
  --appear: appear 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;

  --gradient: linear-gradient(
    -45deg,
    hsl(237.71deg 87.92% 70.78%),
    hsl(226, 100%, 73%),
    hsl(208.8deg 78.12% 74.9%)
  );
}

@keyframes appear {
  100% {
    top: 0;
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  background: white;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.container {
  box-shadow: hsla(226, 100%, 80%, 0.404) 0px 7px 19px 0px;
  height: 500px;
  width: 98%;
  max-width: 800px;
  background: white;
  padding: 1.5em;
  border-radius: calc(var(--defaultRadius) * 1.4);
  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
}

.container:hover::before {
  top: 0;
  left: 0;
}
.container h1 {
  margin-bottom: 0.5em;
  font-family: var(--heading);
  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
  animation-delay: 50ms;
}
.btn-grp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space);
  height: 100px;
  width: 90%;
  margin: 1em auto;
  padding-bottom: 1em;
}
.btn-grp button {
  height: 100%;
  flex: 1;
  border: 0;
  outline: 0;
  background: transparent;
  cursor: pointer;
  border-radius: 0.5em;
  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
}
button:nth-child(1) {
  animation-delay: 50ms;
}
button:nth-child(2) {
  animation-delay: 100ms;
}
button:nth-child(3) {
  animation-delay: 150ms;
}
button:nth-child(4) {
  animation-delay: 200ms;
}
button p {
  font-family: "Poppins", sans-serif;
  line-height: 1;
}
button h3 {
  font-family: var(--heading);
  font-size: 2em;
  line-height: 1;
}
button:hover {
  box-shadow: hsl(226, 100%, 73%) 0px 7px 29px 0px;
  background: hsl(237.39deg 79.31% 71.57%);
  color: white;
}
button.active {
  box-shadow: hsl(226, 100%, 73%) 0px 7px 29px 0px;
  background: hsl(237.39deg 79.31% 71.57%);
  color: white;
}
main {
  height: 300px;
  width: 100%;
}
.container canvas {
  width: 97% !important;
  height: 100%;
  margin: auto;

  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
  animation-delay: 250ms;
}

.seear {
  height: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  justify-content: space-between;
}
.seear .stats {
  max-width: fit-content;
  display: flex;
  gap: 0.15em;
  flex: 0.5;
  height: 100%;
  padding: 0.25em;
  background-color: hsl(232.94deg 100% 96.67%);
  border-radius: calc(var(--defaultRadius) * 10);

  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
  animation-delay: 150ms;
}
.stats button {
  border-radius: inherit;
  height: 100%;
  width: 80px;
  padding: 0em 0.25em;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  font-family: var(--heading);
  font-weight: 550;
  cursor: pointer;
  color: black;
  position: relative;
  overflow: hidden;
  transition: 250ms ease all;
}
.stats button .active {
  background: var(--gradient);
  color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
}
.stats button:hover:not(button:has(.active)) {
  background: rgba(151, 151, 151, 0.5);
}
.stats button:has(.active) {
  color: white;
  cursor: unset;
}
.more:hover {
  background: rgba(151, 151, 151, 0.5);
}
.more {
  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
  animation-delay: 200ms;

  height: 100%;
  width: 80px;
  border-radius: calc(var(--defaultRadius) * 10);
  border: 0;
  outline: 0;
  cursor: pointer;
  overflow: hidden;
}
.more svg {
  border-radius: inherit;
  height: 100%;
  width: 100%;
}
@media (max-width: 675px) {
  .container {
    width: 100%;
    height: 100%;
  }
  .btn-grp {
    flex-wrap: wrap;
    height: fit-content;
    flex-shrink: 0;
  }
  .btn-grp button {
    padding: 1em 2em;
  }
}
