@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --italiana: "Italiana", sans-serif;
  --poppins: "Poppins", sans-serif;
  /* animation & transitions */
  --appear: appear 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@keyframes appear {
  100% {
    top: 0;
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100dvh;
  background: var(--gradient);
}
.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  /* place-items: left; */
  align-items: flex-end;
  justify-content: center;
}

.box {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  background: radial-gradient(at left top, black 20%, #304b28 100%);
}
.box h1 {
  color: hsl(27.5deg 57.14% 91.76%);
  font-family: var(--italiana);
  font-size: 18.125vw;
  width: 100%;
  opacity: 0.25;
}

main {
  height: 400px;
  border-radius: 1em;
  max-width: 600px;
  width: 98%;
  margin: auto;
  z-index: 1;
  color: black;
  overflow: hidden;
  background: rgba(48, 48, 48, 0.1);
  font-family: var(--poppins);

  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
}
.wrap {
  padding: 1em;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.wrap::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.wrap::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: beige;
}
.slide-container {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 #304b2845;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0.5em;
  margin-block: 0.5em;
  height: 8em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  /* overflow: hidden; */
  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
}
.slide-container:nth-child(1) {
  animation-delay: 50ms;
}
.slide-container:nth-child(2) {
  animation-delay: 100ms;
}
.slide-container:nth-child(3) {
  animation-delay: 150ms;
}
.slide-container:nth-child(4) {
  animation-delay: 200ms;
}
.slide-container:nth-child(5) {
  animation-delay: 250ms;
}
.slide-container > .progress {
  height: 2em;
}
/* s;lider1 */
.progress {
  border-radius: 0.5em;
  background: rgb(211, 211, 211);
  width: 90%;
  height: 5px;
  margin: auto;
  padding: 0.125em;
}
.prog {
  position: relative;
  width: 20%;
  height: 100%;
  border-radius: inherit;
  background: repeating-linear-gradient(
    45deg,
    black,
    black 20px,
    #304b28 20px,
    #304b28 25px
  );
}
.count {
  border-radius: inherit;
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 100%;
  background: white;
  color: black;
  line-height: 2.1;
  text-align: center;
  font-weight: 550;
  font-size: 14.5px;
}

/* === */
.ran {
  width: 70%;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(211, 211, 211);
  position: relative;
}
.slide-container > p {
  font-size: 14px;
  color: white;
}
.ran .inc {
  width: 14%;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background: #304b28;
  height: 100%;
}
#figmaStorage {
  width: 36%;
}
.slid2 {
  border-radius: 0.5em;
  background: rgb(211, 211, 211);
  width: 90%;
  height: 5px;
  margin: auto;
  padding: 0.125em;
  position: relative;
}
.slid2 .count {
  position: absolute;
  cursor: pointer;
  left: 45%;
  top: -15px;
  height: 30px;
  width: 60px;
  border-radius: 50em;
  background-color: black;
  color: white;
}
.slide-container:has(.slide1) {
  flex-direction: column;
  gap: 0;
}
.slide1 {
  height: 5em;
  width: 70%;
  display: flex;
  align-items: flex-end;
  gap: 0.5em;
  /* background-color: red; */
}
.slide1 > div:nth-child(n + 3):not(:nth-last-child(-n + 2)) {
  background-color: #304b28;
  border: 1px solid #304b28;
}
.slide1 > div {
  height: 100%;
  border: 1px solid white;
  width: 20px;
}
.slide1 > div.large {
  height: 100%;
  border: 1px solid white;
  width: 20px;
}
.slide1 > div.med {
  height: 50%;
}
.slide1 > div.sm {
  height: 30%;
}
.range {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-radius: 0.5em;
  background-color: #304b28;
  height: 0.25em;
  position: relative;
}
.range .line {
  flex: 1;
}
.range .left,
.range .right {
  cursor: pointer;
  height: 25px;
  aspect-ratio: 1;
  z-index: 1;
  border-radius: 50em;
  overflow: hidden;
  position: absolute;
  background: #304b28;
}
.range .left:hover,
.range .right:hover {
  background: beige;
}
.range .left img,
.range .right img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  mix-blend-mode: difference;
  filter: invert(1);
}
.range .left {
  left: 0;
}
.range .right {
  right: 0;
}
