@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Poppins:wght@200;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dotGothic16: "DotGothic16", sans-serif;
  --poppins: "Poppins", sans-serif;
  --white: white;
  --body_clr: rgb(223 228 255);
  --bg_content_clr: rgb(210 212 255);
  --blk: black;
  --light: rgb(193, 193, 193);
  /* animation & transitions */
  --appear: appear 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes appear {
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes refresh {
  100% {
    rotate: 360deg;
  }
}

body {
  font-family: var(--poppins);
  height: 100vh;
  background: var(--body_clr);
  background-image: linear-gradient(
    316deg,
    #cdc1ff 0%,
    #6247aa,
    #e5d9f2 74%,
    #a594f9
  );
  display: grid;
  place-items: center;
}
.dark-mode {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 60px;
  left: 1em;
  z-index: 9999;
}
.dark-mode label {
  display: flex;
  align-items: center;
  justify-self: start;
  gap: 0.25em;
  font-size: 10px;
}
.dark-mode button {
  height: 75%;
  width: 65px;
  border: 0;
  outline: 0;
  font-size: 12px;
  background: rgb(228, 211, 255);
  color: black;
  font-weight: 550;
  cursor: pointer;
  border-radius: 1em;
}
.dark-mode button:hover {
  background: rgb(136, 72, 255);
  color: var(--white);
}
.dark-mode input[type="checkbox"] {
  display: none;
}

.toggle {
  cursor: pointer;
  height: 3em;
  border: 1px solid rgb(240, 231, 255);
  border-radius: 50em;
  width: 50px;
  position: relative;
  background: rgb(232, 218, 255);
}
.toggle .circle {
  height: calc(3em - 7px);
  aspect-ratio: 1;
  border-radius: 50em;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 250ms;
  background: rgb(136, 72, 255);
}
.btn-grp label:hover .circle {
  scale: 0.9;
}
#styaSignIn:checked + .toggle .circle {
  left: 48%;
}
#styaSignIn:checked + .toggle {
  border: 1px solid transparent;
}

/* ===== */
.profile-my {
  z-index: 9999;

  height: 3em;
  position: fixed;
  top: 1em;
  left: 1em;
  width: 3em;
  overflow-y: scroll;
  border: 1px solid;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 0.15em;
  border-radius: 1em;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 250ms;
}

.profile-my:hover {
  width: fit-content;
  padding: 0.15em;
}

.profile-my::-webkit-scrollbar {
  display: none;
}

.profile-my > img {
  height: 100%;
  width: 100%;
  border-radius: 1em;
}

.profile-my a {
  height: 100%;
  width: 100%;
  border-radius: 1em;
  overflow: hidden;
}

.profile-my:hover a .profile-my-share-icon {
  transform: translateX(0%);
  opacity: 1;
}
.profile-my-share-icon:hover {
  filter: invert(1);
}

.profile-my a .profile-my-share-icon {
  border-radius: 1em;
  padding: 0.5em;
  transform: translateX(-20%);
  opacity: 0;
  transition: ease all 250ms;
  height: 100%;
  width: 100%;
  background: rgb(226, 226, 226);
}

/* ----- */
.tabs {
  position: fixed;
  bottom: 1em;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 0.5em;
  border-radius: 2em;
  list-style: none;
  z-index: 10;
  height: fit-content;
}
.tabs .tab {
  height: 100%;
  width: 100%;
  padding: 0.75em 0.5em;
  font-size: 16px;
  border-radius: inherit;
  position: relative;
  z-index: 1;
  color: var(--blk) powderblue;
  cursor: default;
}
.tab:hover:not(:has(.active)) {
  cursor: pointer;
  background: var(--light);
}
.tab:has(.active) p {
  color: var(--white);
}
.tab .active {
  background: rgb(136, 72, 255);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  z-index: 1;
  border: 1px solid var(--light);
  height: 350px;
  width: 550px;
  background: var(--white);
  border-radius: 1em;
  display: grid;
  grid-template-columns: 200px 1fr;
  overflow: hidden;
}

.col {
  width: 100%;
  height: 100%;
  padding: 0.5em;
}
.col svg {
  height: 100%;
  width: 100%;
}
.col svg path {
  fill: rgb(136, 72, 255);
}
h1 {
  font-size: 2em;
  text-wrap: pretty;
  color: var(--blk);
}

i {
  display: block;
  font-size: 10px;
  color: var(--light);
}
strong {
  font-size: 1em;
  color: var(--blk);
}
p {
  font-size: 1em;
  line-height: 1;
  color: var(--blk);
}
.flex {
  display: flex;
  height: 3em;
  margin-block: 0.5em;
  align-items: center;
  justify-content: stretch;
  gap: 0.5em;
}
.flex .circle {
  height: 2em;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50em;
  border: 1px solid var(--light);
}
.circle input {
  height: 100%;
  width: 100%;
  scale: 1.5;
}

.btn-grp {
  height: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.btn-grp button {
  height: 100%;
  width: 100%;
  border-radius: 0.5em;
  color: var(--white);
  cursor: pointer;
  border: 0;
  outline: 0;
  background: rgb(136, 72, 255);
  font-family: var(--poppins);
}

button:first-child {
  background-color: hsl(255.77deg 67.49% 39.8%);
}
button:nth-child(2):hover {
  background-color: hsl(253.51deg 60.66% 64.12%);
}
button:nth-child(3):active {
  background-color: hsl(256deg 61.64% 85.69%);
}

@media (max-width: 550px) {
  .container {
    height: 99%;
    width: 99%;
    grid-template-columns: 1fr;
  }
  .col svg {
    height: 200px;
    aspect-ratio: 1;
  }
  .tabs {
    top: 1em;
    right: 1em;
    background: var(--light);
  }
  .tabs .tab {
    width: 1ch;
    padding: 0;
    padding-inline: 0.5em;
    overflow: hidden;
  }
  .tabs .tab p {
    position: relative;
    left: -0.5ch;
    letter-spacing: 5px;
  }
}
