@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --space: 0.25em;
  --default_radius: 0.5em;
  --primaryColor: hsl(306.32deg 86.36% 91.37%);
  --primaryColor_hover: hsl(309, 100%, 87%);
  --light: hsl(0deg 0% 100%);
  --black: hsl(255.71deg 72.41% 11.37%);
  --offGrey: 213, 213, 213;
  --bodyColor: hsl(300deg 100% 97.25%);

  /* animation & transitions */
  --appear: appear 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes appear {
  100% {
    top: 0;
    opacity: 1;
  }
}

body {
  height: 100vh;
  background: var(--bodyColor);
}
header {
  height: 3em;
  width: 100%;
  font-weight: 550;
  font-size: 2em;
  text-align: center;
  line-height: 3;
  border-bottom: 1.4px solid var(--primaryColor);
  text-transform: uppercase;
}
nav {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-inline: var(--space);
  justify-content: space-between;
  border-bottom: 1.4px solid var(--primaryColor);
  /* overflow-x: scroll; */
  flex-wrap: wrap;
}

.nav-link {
  list-style: none;
}
.nav-link > li {
  display: inline-block;
  font-size: 15px;
  margin-inline: var(--space);
  cursor: pointer;
  background-color: var(--light);
  border-radius: calc(var(--default_radius) * 50);
  padding: var(--space) calc(var(--space) * 4);
  text-transform: capitalize;
  position: relative;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 250ms;
}
.nav-link > li.active {
  background: var(--black);
  color: var(--light);
  cursor: unset;
}
.dropdownContainer > li {
  padding: var(--space) calc(var(--space) * 7);
}
.dropdownContainer > li p {
  position: relative;
  left: -10px;
}
.dropdownContainer > li:after,
.dropdownContainer > li:before {
  content: "";
  position: absolute;
  top: 50%;
  height: 8px;
  border-radius: 5em;
  width: 2.5px;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 250ms;
}
.nav-link > li::after {
  left: 81%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: var(--black);
}
.nav-link > li:nth-child(2)::after {
  left: 79%;
}
.nav-link > li::before {
  left: 85%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: var(--black);
}
.nav-link > li:hover::after {
  transform: translate(-50%, -50%) rotate(45deg);
  background: var(--light);
}
.nav-link > li:hover::before {
  transform: translate(-50%, -50%) rotate(-45deg);
  background: var(--light);
}
.nav-link > li:hover {
  background: var(--black);
  color: var(--light);
}
.nav-link:last-child {
  background: var(--primaryColor);
  padding: 0.25em 0.15em;
  border-radius: calc(var(--default_radius) * 50);
  margin-inline: calc(var(--space) - 0.2em);
}
.listSelectedTags {
  border-bottom: 1.4px solid var(--primaryColor);
  height: 3em;
}
.card-container {
  padding-top: 0.5em;
  padding-inline: var(--space);
  height: 100%;
  width: 100%;
  display: grid;
  gap: var(--space);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
}
.card {
  background: rgb(var(--offGrey), 0.25);
  isolation: isolate;
  height: 400px;
  width: 100%;
  border-radius: var(--default_radius);
  overflow: hidden;
  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
}
.card > .detail {
  position: absolute;
  bottom: 0%;
  left: 0%;
  padding: var(--space);
  height: fit-content;
  width: 100%;
}
.detail > h1 {
  mix-blend-mode: difference;
  color: var(--primaryColor_hover);
  color: red;
}
.btngrp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space);
  height: 2.5em;
  width: 100%;
}
.card .btngrp #soruceSite {
  height: 35px;
  width: 35px;
  z-index: 2;
  object-fit: cover;
  border-radius: var(--default_radius);
}
.btngrp button {
  width: 90%;
  max-width: 150px;
  height: 100%;
  width: 100%;
  border-radius: calc(var(--default_radius) * 50);
  border: 0;
  outline: 0;
  background: var(--primaryColor);
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  transition: background 250ms ease,
    letter-spacing 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.btngrp button:hover {
  background: var(--primaryColor_hover);
  letter-spacing: 1.5px;
}
.card > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.drop {
  list-style: none;
  position: absolute;
  left: 0;
  top: 100.1%;
  width: fit-content;
  z-index: 1;
  background: rgb(var(--offGrey), 0.89);
  border-radius: var(--default_radius);
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space);
  padding: var(--space);
  display: none;
}
.drop > li {
  margin: var(--space);
  height: 2.5em;
  text-align: center;
  line-height: 1.5;
  background: var(--black);
  color: var(--light);
  padding: calc(var(--space) * 2) calc(var(--space) * 4);
  border-radius: var(--default_radius);
  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
}
.drop > li:nth-child(1) {
  animation-delay: 50ms;
}
.drop > li:nth-child(2) {
  animation-delay: 75ms;
}
.drop > li:nth-child(3) {
  animation-delay: 100ms;
}
.drop > li:nth-child(4) {
  animation-delay: 125ms;
}
.drop > li:nth-child(5) {
  animation-delay: 150ms;
}
.dropdownContainer > .firstFirlter:hover .drop {
  display: grid;
}
.drop > li:hover {
  background: var(--light);
  color: var(--black);
}

.card:nth-child(1) {
  animation-delay: 50ms;
}
.card:nth-child(2) {
  animation-delay: 75ms;
}
.card:nth-child(3) {
  animation-delay: 100ms;
}
.card:nth-child(5) {
  animation-delay: 125ms;
}
.card:nth-child(6) {
  animation-delay: 150ms;
}
.card:nth-child(7) {
  animation-delay: 175ms;
}
.card:nth-child(8) {
  animation-delay: 200ms;
}
.card:nth-child(9) {
  animation-delay: 225ms;
}
.card:nth-child(10) {
  animation-delay: 250ms;
}
.card:nth-child(11) {
  animation-delay: 225ms;
}

@media (max-width: 390px) {
  nav {
    justify-content: center;
  }
}
