@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Poppins:wght@200;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dotGothic16: "DotGothic16", sans-serif;
  --poppins: "Poppins", sans-serif;
  --white: white;
  /* animation & transitions */
  --appear: appear 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes appear {
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes TransAniRev {
  100% {
    scale: 1;
    opacity: 1;
    rotate: 0deg;
  }

  50%,
  0% {
    scale: 0.3;
    rotate: 180deg;
    opacity: 0.1;
  }
}

@keyframes TransAni {
  0%,
  100% {
    scale: 1;
    opacity: 1;
    rotate: 0deg;
  }

  50% {
    scale: 0.3;
    rotate: 180deg;
    opacity: 0.1;
  }
}

body {
  height: 100vh;
  background: whitesmoke;
  display: grid;
  place-items: center;
}
.msg {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: -100%;
  display: grid;
  place-items: center;
  z-index: 10;
  text-align: center;
  font-family: var(--dotGothic16);
  background: linear-gradient(
    -45deg,
    rgb(121, 58, 238),
    rgb(82, 34, 171),
    rgb(115, 67, 203),
    rgb(136, 72, 255)
  );
  color: var(--white);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-size: 10vw;
  opacity: 0;
  transition: 250ms ease all;
}

.container {
  height: 300px;
  max-width: 300px;
  border-radius: 1em;
  width: 100%;
  background: white;
  padding: 1em;
  font-family: var(--poppins);
  box-shadow: rgba(136, 72, 255, 0.073) 0px 7px 29px 0px;
  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
}
.container h2 {
  line-height: 1;
  margin-block: 0.6em;

  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
  animation-delay: 25ms;
}
.container h2 span {
  color: rgb(136, 72, 255);
  font-size: 18px;
  line-height: 1;

  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
  animation-delay: 50ms;
}
.container .password {
  border: 1px solid;
  position: relative;
  height: 3em;
  width: 100%;
  border-radius: 0.5em;
  margin-block: 0.5em;

  top: 15px;
  opacity: 0;
  animation: var(--appear);
  animation-delay: 100ms;
}
.profiles {
  height: 3em;
  margin-block: 0.5em;
  overflow: hidden;
  position: relative;
  z-index: 1;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
  animation-delay: 75ms;
}
.profiles > .profile {
  padding-inline: 0.5em;
  background: var(--white);
  border-radius: 0.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5em;
  height: 3em;
  width: 100%;
  margin-bottom: 0.15em;
}
.profile img {
  height: 2.3em;
  aspect-ratio: 1;
  border-radius: 50em;
  object-fit: cover;
}
.profile .detail {
  flex: 1;
}
.detail h6 {
  font-size: 1em;
  line-height: 1;
}
.detail p {
  font-size: 10px;
  line-height: 1;
}
.password > p {
  position: absolute;
  background: var(--white);
  padding-inline: 0.5em;
  top: -8px;
  font-size: 10px;
  left: 10px;
}
.password input {
  height: 100%;
  width: 100%;
  border: 0;
  outline: 0;
  border-radius: inherit;
  font-size: 1em;
  padding-left: 0.5em;
}
.btn-grp {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
  animation-delay: 125ms;
}
.btn-grp label {
  display: flex;
  align-items: center;
  justify-self: start;
  gap: 0.25em;
  font-size: 10px;
}
.btn-grp button {
  height: 75%;
  width: 65px;
  border: 0;
  outline: 0;
  font-size: 12px;
  background: rgb(240, 231, 255);
  color: black;
  font-weight: 550;
  cursor: pointer;
  border-radius: 1em;
}
.btn-grp button:hover {
  background: rgb(136, 72, 255);
  color: var(--white);
}
.btn-grp input[type="checkbox"] {
  display: none;
}

.toggle {
  cursor: pointer;
  height: 3em;
  border: 1px solid rgb(240, 231, 255);
  border-radius: 50em;
  width: 50px;
  position: relative;
  background: rgb(240, 231, 255);
}
.toggle .circle {
  height: calc(3em - 7px);
  aspect-ratio: 1;
  border-radius: 50em;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 250ms;
  background: rgb(136, 72, 255);
}
.btn-grp label:hover .circle {
  scale: 0.9;
}
#styaSignIn:checked + .toggle .circle {
  left: 48%;
}
#styaSignIn:checked + .toggle {
  border: 1px solid transparent;
}
.container > a {
  font-size: 12px;
  color: black;

  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
  animation-delay: 150ms;
}
.icon-box {
  position: absolute;
  height: 2em;
  aspect-ratio: 1;
  right: 0.15em;
  top: 0.45em;
  border-radius: inherit;
  overflow: hidden;
  cursor: pointer;
}
.icon-box svg {
  padding: 0.5em;
  height: 100%;
  width: 100%;
}

.icon-box svg.aniTranRev {
  animation: TransAniRev 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275) alternate;
}

.icon-box svg.aniTran {
  animation: TransAni 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) alternate;
}

/* ===== */
.profile-my {
  height: 3em;
  position: fixed;
  top: 1em;
  left: 1em;
  width: 3em;
  overflow-y: scroll;
  border: 1px solid;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 0.15em;
  border-radius: 1em;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 250ms;
}

.profile-my:hover {
  width: fit-content;
  padding: 0.15em;
}

.profile-my::-webkit-scrollbar {
  display: none;
}

.profile-my > img {
  height: 100%;
  width: 100%;
  border-radius: 1em;
}

.profile-my a {
  height: 100%;
  width: 100%;
  border-radius: 1em;
  overflow: hidden;
}

.profile-my:hover a .profile-my-share-icon {
  transform: translateX(0%);
  opacity: 1;
}
.profile-my-share-icon:hover {
  filter: invert(1);
}

.profile-my a .profile-my-share-icon {
  border-radius: 1em;
  padding: 0.5em;
  transform: translateX(-20%);
  opacity: 0;
  transition: ease all 250ms;
  height: 100%;
  width: 100%;
  background: rgb(226, 226, 226);
}
