@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --roboto: "Roboto", sans-serif;
  --poppins: "Poppins", sans-serif;
  --space: 0.25em;
  --paddding: 0.5em;
  --defaulRadius: 0.5em;
  --primary: hsl(234.4deg 53.19% 27.65%);
  --secondry: hsl(35.45deg 50% 91.37%);
  --navLink_hover: hsl(240, 100%, 97%);
  --white: #fff;
  --bodyColor: hsl(237.14deg 53.85% 92.35%);
  --offGray: 183, 183, 196;

  /*  */
  --ease: cubic-bezier(0.165, 0.84, 0.44, 1);
  --bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --d: 250ms;

  /* animation & transitions */
  --appear: appear 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes appear {
  100% {
    top: 0;
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: var(--poppins);
  background-color: var(--bodyColor);
  display: grid;
  place-items: center;
}
.container {
  background-color: var(--white);
  height: 200px;
  max-width: 750px;
  width: 100%;
  border-radius: calc(var(--defaulRadius) * 5);
  padding: calc(var(--paddding) * 5);
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 120%;
  width: 70%;
  z-index: -2;
  background-color: var(--secondry);
  border-radius: inherit;
}

.steps-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}
.steps-box .step {
  height: 50px;
  border: 1.4px solid rgba(var(--offGray), 0.345);
  aspect-ratio: 1;
  border-radius: calc(var(--defaulRadius) * 50);
  text-align: center;
  color: rgba(var(--offGray), 0.345);
  position: relative;
}
.step > p {
  color: rgba(var(--offGray), 0.345);
  font-size: 10px;
  font-weight: normal;
  position: absolute;
  bottom: -65%;
  transform: translate(-50%, -50%);
  left: 50%;
  white-space: nowrap;
  animation: 700ms var(--ease) forwards colorChange1;
}
.step {
  animation: 700ms var(--ease) forwards colorChange;
}
.step:nth-child(1),
.step:nth-child(2) {
  color: var(--white);
  background: var(--primary);
  border: 1.4px solid var(--primary);
}
.step:nth-child(1) p,
.step:nth-child(2) p {
  color: var(--primary);
}
.step:nth-child(3) {
  animation-delay: 700ms;
}
.step:nth-child(3) p {
  animation-delay: 700ms;
}
.step:nth-child(4) p {
  animation-delay: calc(700ms * 1.5);
}
.step:nth-child(4) {
  animation-delay: calc(700ms * 1.5);
}
.step:nth-child(4) p {
  animation-delay: calc(700ms * 1.5);
}
.step:nth-child(5) {
  animation-delay: calc(700ms * 2);
}
.step:nth-child(5) p {
  animation-delay: calc(700ms * 2);
}
.progress {
  margin-top: calc(var(--space) * 10);
  height: 10px;
  width: 100%;
  background: rgba(var(--offGray), 0.345);
  border-radius: calc(var(--defaulRadius) * 50);
  position: relative;
  overflow: hidden;
}
.progress .bar {
  height: 100%;
  width: 35%;
  background: var(--primary);
  border-radius: inherit;
  animation: 2s var(--bounce) forwards progressBar;
}

@keyframes colorChange1 {
  100% {
    color: var(--primary);
  }
}
@keyframes colorChange {
  100% {
    background: var(--primary);
    color: var(--white);
    border: 1.4px solid var(--primary);
  }
}

@keyframes progressBar {
  35%,
  0% {
    width: 35%;
  }
  50% {
    width: 50%;
  }
  70% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}
