@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --roboto: "Roboto", sans-serif;
  --poppins: "Poppins", sans-serif;
  --space: 0.25em;
  --paddding: 0.5em;
  --defaulRadius: 0.5em;
  --primary: hsl(236.57deg 36.08% 19.02%);
  --navLink_hover: hsl(240, 100%, 97%);
  --white: #fff;
  --offGray: 183, 183, 196;

  /*  */
  --ease: cubic-bezier(0.165, 0.84, 0.44, 1);
  --bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --d: 250ms;

  /* animation & transitions */
  --appear: appear 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes appear {
  100% {
    top: 0;
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: var(--white);
  font-family: var(--poppins);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  padding-inline: calc(var(--paddding) * 3);
  font-weight: 400;
  border-bottom: 1px solid rgba(var(--offGray), 0.25);

  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
}
nav .logo {
  width: 150px;
  height: 100%;
  overflow: hidden;
  background-color: red;
}
.logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
nav ul {
  list-style: none;
  flex: 1;
  text-align: center;
  font-size: 15px;
}
nav ul li {
  display: inline-block;
  height: 2em;
  width: fit-content;
  line-height: 1.8;
  border-radius: calc(var(--defaulRadius) * 50);
  padding: 0.15em 0.5em;
  color: rgba(var(--offGray));
  cursor: pointer;
  transition: var(--ease) var(--d) background, var(--ease) var(--d) color;
}
nav ul li:hover {
  background: var(--navLink_hover);
  color: var(--primary);
}
.btn-grp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--space) * 4);
}
.btn-grp.last {
  height: 100%;
  width: 150px;
}
.btn-grp button {
  width: 100%;
  height: 3em;
  border-radius: var(--defaulRadius);
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 15px;
  color: var(--primary);
  cursor: pointer;
  transition: var(--d) var(--ease) background;
}
.btn-grp.last button:last-child {
  background: var(--primary);
  color: var(--white);
  width: 190%;
}

.btn-grp.last button:first-child:hover {
  background: var(--navLink_hover);
}
.btn-grp.last button:last-child:hover {
  background: rgba(var(--offGray));
}
.hero {
  height: calc(100% - 80px);
  width: 100%;
  text-align: center;
  padding-inline: calc(var(--paddding) * 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
  animation-delay: 50ms;
}
.countDown {
  position: absolute;
  top: calc(var(--paddding) * 3);
  left: calc(var(--paddding) * 3);
  color: hsl(340.68deg 100% 71.37%);
  font-weight: bold;
}
.hero h1 {
  width: 100%;
  max-width: 500px;
  font-size: 1.6em;
  margin-bottom: var(--space);
}
.hero p {
  width: 100%;
  max-width: 500px;
}

.input-saerch {
  margin-top: 2em;
  height: 3.5em;
  width: 100%;
  max-width: 580px;
  box-shadow: hsla(232, 100%, 94%, 0.744) 0px 7px 29px 0px;

  background-color: var(--white);

  border-radius: var(--defaulRadius);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space);
  overflow: hidden;
}
.input-saerch .choose {
  width: 150px;
  height: 100%;
  border: 0;
  outline: 0;
  padding: var(--paddding);
  font-family: var(--poppins);
  font-weight: 550;
  background-color: transparent;
}
.choose:focus {
  background: var(--navLink_hover);
}
.input-saerch .search {
  background-color: transparent;
  height: 100%;
  flex: 1;
  position: relative;
}
.search img {
  height: 35px;
  aspect-ratio: 1;
  filter: grayscale(1) invert(0.5);
  position: absolute;
  left: 0;
  top: 10px;
  scale: 0.75;
}
.search input {
  background-color: transparent;
  border: 0;
  outline: 0;
  height: 100%;
  width: 100%;
  padding-left: 40px;
  padding-right: var(--space);
  font-size: 16px;
  font-family: var(--roboto);
}
.menuBtn {
  display: none;
}

.filters {
  height: 100%;
  width: 100%;
  text-align: center;
  padding-inline: calc(var(--paddding) * 3);

  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
  animation-delay: 50ms;
}
.filters header {
  margin-bottom: 1em;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--space);
}
header .btn-grp {
  border-radius: calc(var(--defaulRadius) * 50);
  background-color: rgba(var(--offGray), 0.25);
  height: 50px;
  width: 220px;
  gap: calc(var(--space) * 2);
  padding: calc(var(--space) * 1.2);
}
header .btn-grp button {
  font-size: 15px;
  background-color: var(--white);
  border-radius: inherit;
  height: 100%;
  width: 100%;
}
header,
.btn-grp button:last-child {
  background-color: transparent;
}
header ul {
  list-style: none;
  height: 50px;
  width: fit-content;
}
.middleFilter {
  padding-left: 6em;
}
header ul li {
  display: inline-block;
  font-size: 15px;
  margin-inline: var(--space);
  color: rgba(var(--offGray), 0.79);
  cursor: pointer;
}
header ul li:not(.imgLI) {
  line-height: 3.35;
}
header ul li:hover {
  color: rgba(var(--offGray));
}
header ul li.active {
  font-weight: bold;
  color: var(--primary);
}
.imgLI {
  height: 45px;
  aspect-ratio: 1;
  overflow: hidden;
  vertical-align: middle;
  border-radius: var(--defaulRadius);
  background: rgba(var(--offGray), 0.25);
  transition: var(--bounce) var(--d) scale;
}

.gold {
  filter: invert(1) hue-rotate(30deg) brightness(150%);
}
.imgLI img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: var(--paddding);
}
.imgLI:hover img {
  scale: 0.89;
}
.card-container {
  --size: min(350px);
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--size), 1fr));
  gap: calc(var(--space) * 2);
}

.card {
  height: var(--size);
  width: 100%;
  border-radius: var(--defaulRadius);
  position: relative;
  padding-inline: var(--space);
  transition: background(--ease) var(--d);
}
.card:hover {
  background: rgba(var(--offGray), 0.25);
}
.card .placeHolder {
  height: calc(var(--size) - 55px);
  margin-top: 5px;
  width: 100%;
  border-radius: inherit;
  background: rgba(var(--offGray));
  margin-bottom: 2.5px;
  overflow: hidden;
}
.placeHolder img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.userDetails {
  height: calc(var(--size) - calc(300px + 5px));
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .userDetails > div {
  display: flex;
  align-items: center;
  gap: calc(var(--space) * 2);
  justify-content: center;
}
.userImg {
  height: 35px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: calc(var(--defaulRadius) * 50);
}
.userDetails:hover {
  cursor: pointer;
}
.userName {
  font-size: 14px;
}
.userDetails:hover strong {
  text-decoration: underline;
}

.card .filterTag {
  position: absolute;
  top: var(--paddding);
  left: var(--paddding);
  background: rgba(var(--offGray), 0.25);
  height: 45px;
  aspect-ratio: 1;
  border-radius: calc(var(--defaulRadius) * 50);
}
.filterTag img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: var(--paddding);
}
.userCode,
.userReach {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space);
  width: 40px;
}
.userCode img,
.userReach img {
  height: 20px;
  aspect-ratio: 1;
  object-fit: contain;
  filter: invert(0.5) grayscale(1);
  transition: var(--bounce) var(--d) all;
}
.userCode:hover img,
.userReach:hover img {
  filter: invert(0);
}

.userCode p,
.userReach p {
  font-size: 14px;
}

@media (max-width: 785px) {
  nav ul {
    position: fixed;
    top: 80px;
    right: -100%;
    background-color: var(--white);
    height: 100%;
    z-index: 100;
    width: 200px;
    transition: var(--d) var(--bounce) right;
  }
  nav ul li {
    margin-block: var(--paddding);
    display: block;
  }

  .menuBtn {
    display: block;
    height: 40px;
    aspect-ratio: 1;
    border-radius: var(--defaulRadius);
    overflow: hidden;
    position: absolute;
    right: calc(var(--paddding) * 3);
    cursor: pointer;
    background-color: var(--primary);
  }
  .btn-grp.last {
    margin-right: 50px;
  }
  .btn-grp.last button {
    height: 40px;
  }

  .menuBtn .line {
    transform-origin: center;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3px;
    width: 90%;
    border-radius: var(--defaulRadius);
    transition: var(--d) var(--bounce) all;
  }
  .line:first-of-type {
    top: 35%;
    background-color: hsl(240, 100%, 90%);
  }
  .line:nth-of-type(2) {
    top: 50%;
    background-color: hsla(240, 100%, 90%, 0.776);
  }
  .line:last-of-type {
    top: 65%;
    background-color: hsla(240, 100%, 90%, 0.494);
  }
}

@media (max-width: 350px) {
  .choose {
    width: 80px !important;
  }
  .input-saerch .search img {
    scale: 0.5;
  }
  header {
    padding-bottom: 5em;
  }
  header ul li {
    margin: var(--space);
  }
  ul:has(.imgLI) {
    margin-top: 3em;
  }
}
@media (max-width: 636px) {
  .middleFilter {
    padding-left: 0em;
  }
  .card-container {
    --size: 100%;
  }
  .card {
    height: 350px;
  }
}
@media (min-width: 1250px) {
  .hero {
    height: 80%;
  }
}
