@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Poppins:wght@200;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dotGothic16: "DotGothic16", sans-serif;
  --poppins: "Poppins", sans-serif;
  --white: white;
  --body_clr: rgb(223 228 255);
  --bg_content_clr: rgb(210 212 255);
  --blk: black;
  --light: rgb(193, 193, 193);
  /* animation & transitions */
  --appear: appear 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes appear {
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes refresh {
  100% {
    rotate: 360deg;
  }
}

body {
  font-family: var(--poppins);
  height: 100vh;
  background: var(--body_clr);
  background-image: linear-gradient(
    316deg,
    #cdc1ff 0%,
    #6247aa,
    #e5d9f2 74%,
    #a594f9
  );
  display: grid;
  place-items: center;
}
.dark-mode {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 60px;
  left: 1em;
  z-index: 9999;
}
.dark-mode label {
  display: flex;
  align-items: center;
  justify-self: start;
  gap: 0.25em;
  font-size: 10px;
}
.dark-mode button {
  height: 75%;
  width: 65px;
  border: 0;
  outline: 0;
  font-size: 12px;
  background: rgb(228, 211, 255);
  color: black;
  font-weight: 550;
  cursor: pointer;
  border-radius: 1em;
}
.dark-mode button:hover {
  background: rgb(136, 72, 255);
  color: var(--white);
}
.dark-mode input[type="checkbox"] {
  display: none;
}

.toggle {
  cursor: pointer;
  height: 3em;
  border: 1px solid rgb(240, 231, 255);
  border-radius: 50em;
  width: 50px;
  position: relative;
  background: rgb(232, 218, 255);
}
.toggle .circle {
  height: calc(3em - 7px);
  aspect-ratio: 1;
  border-radius: 50em;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 250ms;
  background: rgb(136, 72, 255);
}
.btn-grp label:hover .circle {
  scale: 0.9;
}
#styaSignIn:checked + .toggle .circle {
  left: 48%;
}
#styaSignIn:checked + .toggle {
  border: 1px solid transparent;
}

/* ===== */
.profile-my {
  z-index: 9999;

  height: 3em;
  position: fixed;
  top: 1em;
  left: 1em;
  width: 3em;
  overflow-y: scroll;
  border: 1px solid;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 0.15em;
  border-radius: 1em;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all 250ms;
}

.profile-my:hover {
  width: fit-content;
  padding: 0.15em;
}

.profile-my::-webkit-scrollbar {
  display: none;
}

.profile-my > img {
  height: 100%;
  width: 100%;
  border-radius: 1em;
}

.profile-my a {
  height: 100%;
  width: 100%;
  border-radius: 1em;
  overflow: hidden;
}

.profile-my:hover a .profile-my-share-icon {
  transform: translateX(0%);
  opacity: 1;
}
.profile-my-share-icon:hover {
  filter: invert(1);
}

.profile-my a .profile-my-share-icon {
  border-radius: 1em;
  padding: 0.5em;
  transform: translateX(-20%);
  opacity: 0;
  transition: ease all 250ms;
  height: 100%;
  width: 100%;
  background: rgb(226, 226, 226);
}

/* ----- */
.container {
  height: 300px;
  max-width: 600px;
  width: 99%;
  background: var(--white);
  border-radius: 1em;
  padding: 1em;
  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
  overflow: hidden;
}

/* .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  height: 100%;
  width: 50%;
  background: linear-gradient(90deg, transparent, var(--light), transparent);
}
.container:hover::before {
  transition: 1s all ease;
  left: 150%;
} */
.header,
.title,
.detail,
.progress-box,
.footer {
  position: relative;
  top: 15px;
  opacity: 0;
  animation: var(--appear);
}
.container :where(.header, .footer) {
  height: 3em;
  width: 100%;
  margin-block: 0.15em;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-delay: 25ms;
}
.header .first {
  width: 100%;
}
.header .first h3 {
  font-size: 1.2em;
  line-height: 1;
  color: var(--blk);
}
.header .first p {
  font-size: 12px;
  line-height: 1.4;
  color: var(--light);
}
.header .last button:first-of-type.refresh img {
  animation: 500ms linear refresh alternate;
}
.header .last button:last-of-type svg path {
  fill: rgb(136, 72, 255);
  stroke: rgb(136, 72, 255);
}
.header .last button:last-of-type {
  background: transparent;
}
.header .last button:last-of-type:hover {
  background: rgb(228, 211, 255);
}

.header .last {
  color: var(--blk);
  width: 7em;
  text-align: right;
  height: 100%;
  padding-top: 2.5px;
}
.last button {
  width: 3em;
  aspect-ratio: 1;
  border: 0;
  outline: 0;
  padding-top: 5px;
  background: var(--light);
  cursor: pointer;
}
.last button img,
.last button svg {
  height: 60%;
  width: 60%;
}
.last button {
  border-radius: 1em;
}
.title {
  height: 4em;
  margin-block: 0.15em;
  animation-delay: 50ms;
}
.title h1 {
  font-size: 1.5em;
  color: var(--blk);
}
.title p {
  line-height: 1;
  color: var(--blk);
  font-size: 12px;
  font-weight: 300;
}
.title p strong {
  color: rgb(136, 72, 255);
}
.detail {
  height: 4em;
  margin-block: 0.15em;
  font-size: 1em;
  font-weight: 300;
  color: var(--blk);
  animation-delay: 75ms;
}
.progress-box {
  height: 2em;
  width: 100%;
  margin-block: 0.15em;
}
.progress-box p {
  font-size: 12px;
  font-weight: 300;
}
.progress-box p strong {
  color: rgb(136, 72, 255);
}
.progress-box .prgress {
  height: 0.5em;
  margin-block: 0.25em;
  width: 100%;
  background: var(--light);
  border-radius: 5em;
  overflow: hidden;
}
.prgress .bar {
  width: 30%;
  height: 100%;
  background: rgb(136, 72, 255);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: start;
  animation-delay: 10ms;
}
.round {
  height: 2.5em;
  aspect-ratio: 1;
  border-radius: 50em;
  border: 1.4px solid var(--white);
  object-fit: cover;
}
.round:nth-child(2) {
  position: absolute;
  left: 1.5em;
}
.round:nth-child(3) {
  position: absolute;
  left: 3em;
}
.round:nth-child(4) {
  background-color: rgb(228, 211, 255);
  text-align: center;
  line-height: 2.6;
  font-size: 14px;
  color: rgb(136, 72, 255);
  position: absolute;
  left: 7em;
  height: 2.8em;
}
/* ----- */

@media (max-width: 388px) {
  .container {
    height: 99%;
  }
  .header {
    flex-direction: column;
    height: fit-content;
  }
  .header .first {
    order: 1;
  }
  .header .last {
    order: 0;
    width: 100%;
    margin-block: 0.5em;
  }
  .detail {
    margin-block: 1em;
  }
}
