/* Add CSS here */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --r: "Roboto", sans-serif;
  --m: "Montserrat", sans-serif;
}
.App::-webkit-scrollbar {
  width: 2px;
  height: 100%;
  background: lavender;
}

.App::-webkit-scrollbar-thumb {
  width: 2px;
  height: 100%;
  background: #8e8ffa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: whitesmoke;
  display: grid;
  place-items: center;
  padding: 2em;
  perspective: 900px;
}

/* ==animations */
@keyframes appearLoader {
  100% {
    border-top: 1.4px solid var(--suc);
    border-bottom: 1.4px solid transparent;
    border-left: 1.4px solid transparent;
    border-right: 1.4px solid var(--suc);
  }
}
@keyframes Iland_loader {
  100% {
    rotate: 360deg;
  }
}
@keyframes loadingDone {
  100% {
    transform: translate(-100%);
    opacity: 0;
    display: none;
  }
}
@keyframes appearMobile {
  100% {
    transform: rotateX(0deg) translateY(-0px);
    opacity: 1;
  }
}

.mobile-look {
  position: relative;
  border-radius: 2em;
  border: 8px solid silver;
  height: 557px;
  width: 270.61417323px;
  overflow: hidden;
  transform: rotateX(25deg) translateY(-100px);
  opacity: 0;
  animation: appearMobile 1s forwards alternate;
}
.apple-start {
  height: 100%;
  width: 100%;
  background: #121212;
  position: relative;
  animation: loadingDone 500ms 1s forwards;
}
.apple-start .middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  height: 150px;
  aspect-ratio: 1;
}

.iland {
  position: absolute;
  height: 20px;
  width: 80px;
  top: 5px;
  left: 50%;
  transform: translate(-50%, -0%);
  background: rgb(12, 12, 12);
  border-radius: 1em;
  z-index: 500;
  transform-origin: center;
  padding: 0.15em;
  transition: all linear 250ms;
  overflow: hidden;
}
.iland:hover {
  width: 90%;
  height: 80px;
}
.iland-content {
  margin-top: 18px;
  background-color: #1f1f1f;
  height: calc(80px - 22.5px);
  border-radius: inherit;
  width: 100%;
}
.iland-lloader {
  --suc: rgb(61, 255, 61);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #333;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 500;
  animation: Iland_loader 2s ease forwards infinite,
    appearLoader 200ms 1s ease forwards;
}

/* ==== */
.app-gallery {
  border: 1px solid red;
  height: 100%;
  width: 100%;
  padding: 1px;
}
.app-container {
  height: 100%;
  width: 100%;
}
.t-container {
  height: calc(557px - 330px);
  /* background-color: red; */
  width: 100%;
}
.container {
  display: grid;
  gap: 0.15em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: calc(557px - 260px);
  width: 100%;
}
.app {
  height: 83%;
  width: 100%;
  border-radius: 0.5em;
  background-color: black;
  position: relative;
  cursor: grab;
}
.app .logo {
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.app .name {
  position: absolute;
  font-family: var(--r);
  top: 110%;
  font-size: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}
