@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --phoneWidth: 270.61417323px;
  --phoneHeight: 557px;
  --heading: "Montserrat", sans-serif;
  --normal: "Roboto", sans-serif;
  --primaryColor: #bbb3d7;
  --barcolor: #4b4b4b;
  --white: #f2f2f2;
}
.wrapper::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}
.wrapper::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: var(--primaryColor);
}

@keyframes appear {
  100% {
    top: 0;
    opacity: 1;
  }
}
.line {
  height: 0.5px;
  width: calc(100% - 0.5em);
  border-radius: 1em;
  background-color: var(--primaryColor);
  margin: 1em auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: var(--primaryColor);
  display: grid;
  place-items: center;
}
button {
  outline: 0;
  border: 0;
  cursor: pointer;
}
.phone {
  height: var(--phoneHeight);
  width: var(--phoneWidth);
  position: relative;
  border-radius: 2em;
  border: 8px solid black;
  overflow: hidden;
  background: black;
}
.slideBoxContainer {
  height: calc(100% - 30px);
  width: 100%;
  position: absolute;
  right: -100%;
  top: 30px;
  background-color: #1d2127;
  transition: 250ms cubic-bezier(0.175, 0.885, 0.32, 1) all;
}
.errorMsg {
  color: rgb(255, 85, 119);
  font-family: var(--normal);
  text-align: center;
  line-height: 1;
  margin-top: 7em;
}

.iland {
  position: absolute;
  height: 20px;
  width: 80px;
  top: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  border-radius: 5em;
  z-index: 500;
}
.iland::before {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #1d2127;
  position: absolute;
  top: 5px;
  right: 5px;
  content: "";
  z-index: 500;
}
.upbar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(29, 29, 29);
  color: white;
  height: 30px;
  width: 100%;
  z-index: 499;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.45em;
}
.left,
.right {
  height: 100%;
  width: 100%;
}
.left p {
  font-family: var(--heading);
  line-height: 3;
  font-size: 12px;
}
.right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.01em;
}
.right .upper-icon {
  height: 100%;
  width: 20px;
  filter: invert(1);
}
.battery {
  align-self: flex-end;
  height: 80% !important;
}

.settings {
  height: calc(100% - 30px);
  margin-top: 30px;
  width: 100%;
  position: relative;
  left: 0;
  background-color: #1d2127;
  transition: 450ms cubic-bezier(0.175, 0.885, 0.32, 1) all;
}
.heading {
  height: 3em;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 0.5em;
  padding-inline: 0.5em;
}
.heading .bacBtn {
  height: 30px;
  width: 30px;
  overflow: hidden;
  border-radius: 0.5em;
  background-color: transparent;
}
.heading .bacBtn img {
  padding: 0.2em;
  height: 100%;
  width: 25px;
  object-fit: contain;
  filter: invert(1) hue-rotate(197deg) grayscale(0);
  mix-blend-mode: difference;
}
.heading .title {
  font-family: var(--heading);
  color: var(--white);
  opacity: 0;
  position: relative;
  top: 10px;
  font-weight: bold;
  animation: appear 350ms 50ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.wrapper {
  height: 100%;
  width: 100%;
  padding-inline: 0.5em;
  overflow-y: scroll;
  font-family: var(--normal);
}
section {
  height: fit-content;
  width: 100%;
  position: relative;
  top: 10px;
  opacity: 0;
  animation: appear 350ms 50ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
section:first-of-type {
  animation-delay: 100ms;
}
section:nth-child(3) {
  animation-delay: 150ms;
}
section:nth-child(5) {
  animation-delay: 200ms;
}
section:nth-child(7) {
  animation-delay: 250ms;
}
section:last-of-type {
  margin-bottom: 5em;
}

.wrapper .cover-sounds {
  height: fit-content;
  width: 100%;
  margin-top: 1em;
}
.title-sounds {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5em;
  height: 2.5em;
  width: 100%;
  margin-block: 0.15em;
}
.title-sounds img {
  height: 100%;
  width: 25px;
  object-fit: contain;
  filter: invert(1) hue-rotate(197deg) grayscale(0);
  mix-blend-mode: difference;
}
.title-sounds p {
  font-weight: 550;
  font-size: 18px;
  color: var(--white);
}
.cover-sounds .bar {
  height: 25px;
  width: 100%;
  background: var(--barcolor);
  border-radius: 5em;
  overflow: hidden;
  cursor: pointer;
}
.bar .inner-bar {
  height: 100%;
  width: 20%;
  background-color: var(--primaryColor);
}
.section-heading {
  font-family: var(--heading);
  text-transform: uppercase;
  color: var(--white);
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 0.25px;
}

:where(.title-sounds):not(.cover-sounds .title-sounds) {
  justify-content: space-between;
  cursor: pointer;
  padding-block: 0.35em;
  margin-block: 0.5em;
}
:where(.title-sounds):not(.cover-sounds .title-sounds):first-of-type {
  margin-top: 1em;
}
.title-sounds .shows {
  height: 30px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}
.shows .name {
  font-size: 11px;
  color: #555;
  position: relative;
  left: 5px;
}
.shows .arrow {
  height: 30px;
  padding: 0.35em;
  width: 25px;
  object-fit: cover;
  filter: grayscale(1) invert(0.5);
  transform: rotate(180deg);
}
.toggleBar {
  height: 25px;
  width: 45px;
  background: var(--barcolor);
  border-radius: 50em;
  position: relative;
  cursor: pointer;
  transition: 250ms ease background;
}
.toggleBar .circle {
  position: absolute;
  top: 50%;
  left: 24%;
  transform: translate(-50%, -50%);
  width: 15px;
  aspect-ratio: 1;
  border-radius: inherit;
  background-color: white;
  transition: 250ms ease left;
}
input[type="checkbox"] {
  display: none;
}
#vibration:checked + .toggleBar .circle,
#vibration1:checked + .toggleBar .circle {
  left: calc(100% - 26%);
}
#vibration:checked + .toggleBar,
#vibration1:checked + .toggleBar {
  background: var(--primaryColor);
}
.btn-grp {
  height: 2.5em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.btn-grp button {
  font-family: var(--heading);
  font-weight: 550;
  height: 100%;
  flex: 1;
  border-radius: 50em;
}
.btn-grp button:hover {
  filter: contrast(80%);
}

.btn-grp button:first-of-type {
  background: rgb(255, 85, 119);
}
.btn-grp button:last-of-type {
  background: var(--primaryColor);
}
