@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --body: hsl(228deg 55.56% 98.24%);
  --font1: "Poppins", sans-serif;
  --font2: "Bona Nova SC", serif;
}
body {
  background: url("https://images.unsplash.com/photo-1709557992576-b05c4b0eb847?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  display: grid;
  place-items: center;
  height: 100vh;
}
.container {
  height: 450px;
  max-width: 400px;
  background: white;
  padding: 1em;
  border-radius: 0.5em;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
}

.container > p {
  font-family: var(--font1);
  color: hsl(345, 100%, 70%);
}

.poll-container {
  --pollConHeight: calc(100% - 150px);
  height: var(--pollConHeight);
  margin-top: 2em;
  width: 1005;
  border-radius: inherit;
  padding-block: 0.5em;
}
.poll {
  height: calc(var(--pollConHeight) / 1.4);
  margin-block: 0.25em;
  padding: 0.25em;
  border-radius: inherit;
}
.bottom {
  height: 2em;
  margin-top: 0.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}
.percentage {
  width: 9ch;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font2);
}
.bottom .bar {
  flex: 1;
  height: 5px;
  background-color: transparent;
  position: relative;
  border-radius: 50em;
}
.bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  height: 100%;
}
.poll:nth-child(1) .bottom .bar::before {
  background-color: hsl(98, 40%, 57%);
  width: 65%;
}
.poll:nth-child(2) .bottom .bar::before {
  background-color: hsl(353.61deg 90% 47.06%);
  width: 12%;
}
.poll:nth-child(3) .bottom .bar::before {
  background-color: hsl(307.74deg 97.89% 37.25%);
  width: 23%;
}
.poll .up {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5em;
  font-family: var(--font1);
  font-size: 13px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: hsl(345, 100%, 70%);
  position: absolute;
  top: 3.7px;
  left: 3.5px;
  border-radius: 0.3em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

button {
  margin: 0.5em auto;
  width: 200px;
  background-color: rgb(121, 121, 255);
  border: 0;
  outline: 0;
  font-family: var(--font1);
  cursor: pointer;
  height: 3em;
  border-radius: inherit;
  transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button:hover {
  color: white;
  scale: 1.01;
  letter-spacing: 2px;
}
