@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --heading: "Montserrat", sans-serif;
  --normal: "Poppins", sans-serif;
  --default_Radius: 0.5em;
  --space: 0.25em;

  --white: #fff;
  --whitsmoke: rgb(239, 239, 239);
  --whitsmoke1: whitesmoke;
  --blk: black;

  /* animation & transitions */
  --appear: appear 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes appear {
  100% {
    top: 0;
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

.wrapper::-webkit-scrollbar-thumb {
  width: 100%;
  background: var(--blk);
  border-radius: 50em;
}

body {
  background-color: var(--white);
  height: 100vh;
  display: grid;
  place-items: center;
}
.container {
  --width: 800px;
  background: whitesmoke;
  height: 350px;
  max-width: var(--width);
  width: 100%;
  border-radius: var(--default_Radius);
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.wrapper {
  height: 100%;
  width: 100%;
  padding: var(--space);
  border-radius: var(--default_Radius);
  overflow-y: scroll;
}
.step-box {
  height: 8em;
  width: calc(100% - 5px);
  margin-left: 5px;
  margin-block: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  position: relative;
  top: 15px;
  opacity: 0;
  padding-inline: calc(var(--space) * 10);
  border-radius: var(--default_Radius);
  animation: var(--appear);
}
.step-box:nth-child(1) {
  animation-delay: 50ms;
}
.step-box:nth-child(2) {
  animation-delay: 100ms;
}
.step-box:nth-child(3) {
  animation-delay: 150ms;
}
.step-box:nth-child(4) {
  animation-delay: 200ms;
}
.step-box:nth-child(5) {
  animation-delay: 250ms;
}
/* step animation */
@keyframes stepAnimation {
  100% {
    width: 100%;
  }
}
@keyframes stepAnimationImg {
  100% {
    width: 100%;
    scale: 1;
  }
}
@keyframes stepAnimationColor {
  100% {
    color: white;
  }
}
@keyframes stepAnimationBgColor {
  100% {
    background: black;
    height: 2px;
  }
}
@keyframes stepAnimationBgColorLeft {
  100% {
    left: 83%;
  }
}
@keyframes stepAnimationBgColorRight {
  100% {
    left: 18%;
  }
}
@keyframes stepAnimationBorder {
  100% {
    border: 2px solid black;
  }
}
@keyframes BoldstepAnimationBorder {
  100% {
    border: 10px solid black;
  }
}

.step-box .step {
  font-family: var(--heading);
  height: 50px;
  aspect-ratio: 1;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  background-color: var(--white);
  /* border: 2px solid transparent; */
}

.step-box .step:nth-child(3) {
  animation-delay: 1.5s;
}
.step-box .step:nth-child(4) {
  animation-delay: 2.8s;
}
.step-box .step:not(.step1)::before,
.step-box .step:not(.step3)::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 6.5px;
  width: 5px;
  z-index: 1;
  border-top: 2px solid var(--whitsmoke);
  border-bottom: 2px solid var(--whitsmoke);
  background-color: var(--white);
  animation: stepAnimationBgColor 250ms cubic-bezier(0.075, 0.82, 0.165, 1)
      forwards,
    stepAnimationBorder 500ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.step::before {
  left: 1.5%;
  animation: stepAnimationBgColorLeft 250ms cubic-bezier(0.075, 0.82, 0.165, 1)
    forwards;
}
.step::after {
  animation: stepAnimationBgColorRight 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  left: 100%;
}
.step-box .step:nth-child(2)::before,
.step-box .step:nth-child(2)::after {
  animation-delay: 250ms;
}
.step-box .step:nth-child(3)::before {
  animation-delay: 1.5s;
}
.step-box .step:nth-child(3)::after {
  animation-delay: 1.65s;
}
.step-box .step:nth-child(4)::before,
.step-box .step:nth-child(5)::after {
  animation-delay: 2.78s;
}

.step p {
  position: absolute;
  inset: 50%;
  border-radius: inherit;
  transform: translate(-50%, -50%);
  line-height: 2.78;
  height: 100%;
  width: 100%;
  z-index: 2;
  isolation: isolate;
  background: var(--white);
  overflow: hidden;
  animation: stepAnimationColor 500ms cubic-bezier(0.165, 0.84, 0.44, 1)
    forwards;
}
.step p::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 0%;
  z-index: -1;
  background-color: black;
  scale: 1.2;
  animation: stepAnimation 500ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.step:nth-child(3) p:before,
.step:nth-child(3) p {
  animation-delay: 1.5s;
}
.step:nth-child(4) p:before,
.step:nth-child(4) p {
  animation-delay: 2.8s;
}
.step h5 {
  position: absolute;
  bottom: -70%;
  left: -0%;
  transform: translate(-20%, -50%);
  width: 7vw;
  white-space: nowrap;
  font-size: 12px;
  font-family: var(--normal);
  font-weight: 400;
  text-align: center;
}
.step-box .line {
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
  width: 87%;
  height: 10px;
  background-color: var(--whitsmoke);
}

.line::before {
  content: "";
  position: absolute;
  top: 0%;
  left: -00%;
  height: 100%;
  width: 0%;
  z-index: -1;
  background-color: black;
  animation: stepAnimation 2.5s 350ms linear forwards;
}

/*  */
.step.onlyborder {
  border: 2px solid var(--whitsmoke);
}
.line.onlyborder {
  border-top: 2px solid var(--whitsmoke);
  border-bottom: 2px solid var(--whitsmoke);
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  background-color: transparent;
}

/*whitesmoke  */
.whitesmoke {
  background: var(--whitsmoke);
}
.step-box .step.whitesmoke::before,
.step-box .step.whitesmoke::after {
  background-color: var(--whitesmoke);
}
.line.whitesmoke {
  background: var(--whitsmoke);
}
.step.whitesmoke p {
  background: var(--whitsmoke);
}

/* BOLD */
/* tick */

.line.bold,
.line.tick {
  border: 5px solid var(--whitsmoke);
  height: 15px;
  width: 78%;
}
.step.bold p {
  line-height: 1.8;
}
.step.tick p {
  line-height: 2;
  font-size: 14px;
}
.step.bold,
.step.tick {
  border: 10px solid var(--whitsmoke);
  /* border-radius: var(--default_Radius); */
  animation: BoldstepAnimationBorder 500ms cubic-bezier(0.165, 0.84, 0.44, 1)
    forwards;
}
.step.bold h5 {
  bottom: 35px;
  left: -10px;
}
.step.tick h5 {
  bottom: -35px;
  left: -10px;
}
/* last */
.step.last {
  border: 4px solid var(--white);
}
.step.last p {
  line-height: 2.5;
}
.step.last::before {
  left: 18%;
}
.step.last::after {
  left: 84%;
}
